.cursor-p{
    cursor: pointer;
}
.main-font{
    color: #747474;
}

.pd-m-tb{
    padding-top: 16px;
    padding-bottom: 16px;
}
.pd-m-t{
    padding-top: 16px;
}
.pd-m-b{
    padding-bottom: 16px;
}
.pd-m-lr{
    padding-top: 16px;
    padding-bottom: 16px;
}
.pd-m{
    padding: 16px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content:center
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}

.over-hidden{
    overflow: hidden;
}