.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    background-color: #333333;
    ul{
        margin-left: 0 ;
        padding: 16px;
        li{
            text-align: center;
            list-style: none;
            margin-bottom: 16px;
            font-weight: 500;
        }
    }
}